<% content_for(:navbar) do %>

    <li><a href="/">Home</a></li>
    <li><a href="/lists/new">new new</a></li>

<% end %>

<h1>Lists</h1>

<ul>
  <% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to "New List", new_list_path %>
